header{
    background-color: #BBBBBB;
    padding: 20px 0;

}
.caja{
    width: 80%;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
.navegacion li{
    display: inline;
    margin-left: 15px;
}
.navegacion a{
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.productos{
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background: #CCCCCC;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}
.productos h2{
    color: #000000;
    font-weight: bold;
    font-size: 22px;

}
.productos-descripcion{
    font-size: 18px;
}
.productos-precio{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}